.NavDiv{
    width: 96rem;
    height: 5rem;
    background-color: white;
    display: flex;
    align-items: center;
}

.Logo{
    width: 3rem;
    height: auto;
    margin-left: 2rem;
    margin-right: 1rem;
}


.Nav-Link {
    text-decoration: none;
    color: black;
    margin-left: 1rem;
    margin-right: 5rem;
    font-weight: bold;
    font-size: 1.5rem;
}


  
.Products-Box {
    text-align: center;
    line-height: 64px;
    font-weight: 400;
    list-style: none;
    
}

.Products {
    width: 11rem;
    list-style: none;
    background-color: #865DFF;
    margin-top: 0.1rem;
    height: 0;
    position: absolute;
    z-index: 5;
    overflow: hidden;
    transition: all 0.5s ease;
    display: flex;
    align-items: start;
    flex-flow: column;
    border-radius: 0.5rem;
}

.Product-text {
    padding-left: 1rem;
    height: 50px;
    line-height: 1rem;
    color: black;
}

.Products-Box:hover > .Products {
    height: 16rem;
}

.Product-text:hover {
    color: gray;
    font-weight: bold;
    text-decoration: underline;
    text-underline-position: under;
}

