*::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

*{
  padding: 0;
  margin: 0;
  box-sizing : border-box;
}

.MainPage {
  background-color: rgb(246, 255, 199);
  width: 100vw;
  height: 90vh ;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.MainText{
  font-size: 3rem;
  font-weight: bold;
}

.BoxDiv {
  align-items: center;
  justify-content: center;
  display: flex;
}

.Box{
  height: 5rem;
  width: 20rem;
  background-color: white;
  border-radius: 5rem;
  margin: 3rem;
  overflow: hidden;
  text-align: center;
  border: solid 0.2rem;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.linkstyle{
  text-decoration: none;
  color: black;
}

.MainText2{
  font-size: 1rem;
  font-weight: bold;
}
.MainText3{
  font-size: 1rem;
  color: red;
  font-weight: bold;
}

.Logo1{
  width: auto;
  height: 1rem;
  padding: none;
}

.Logo5 {
  width: auto;
  height: 2rem;
}